
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="Controlador_Arreglo/Enviar" method="post">
            <label>Ingrese el 1er numero</label>
            <br />
            <input type="number" name="value0" />
            <br />
            <label>Ingrese el 2do numero</label>
            <br />
            <input type="number" name="value1" />
            <br />
            <label>Ingrese el 3er numero</label>
            <br />
            <input type="number" name="value2" />
            <br />
            <label>Ingrese el 4to numero</label>
            <br />
            <input type="number" name="value3" />
            <br />
            <label>Ingrese el 5to numero</label>
            <br />
            <input type="number" name="value4" />
            <br />
            <label>Ingrese el 6to numero</label>
            <br />
            <input type="number" name="value5" />
            <br />
            <label>Ingrese el 7mo numero</label>
            <br />
            <input type="number" name="value6" />
            <br />
            <label>Ingrese el 8vo numero</label>
            <br />
            <input type="number" name="value7" />
            <br />
            <label>Ingrese el 9no numero</label>
            <br />
            <input type="number" name="value8" />
            <br />
            <label>Ingrese el 10mo numero</label>
            <br />
            <input type="number" name="value9" />
            <br />
            <input type="submit" value="Enviar" />
        </form>
    </div>
</body>
</html>